.navigation-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    top: 0; 
    width: 100%;
    height: 48;
    z-index: 1;
}

.navigation-wrapper > .banner-image{
    display: flex;
    align-items: center;
    background-color: black;
}

.navigation-wrapper > .navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fccb06;
    border: 2px;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
}

.navigation-wrapper > .navigation-bar a{
    transition: 0.6s;
    font-family: "Roboto Slab", sans-serif;
    color: #031b28;
    font-size: 20px;
    margin: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.navigation-wrapper > .navigation-bar a:hover{
    transition: .5s;
    letter-spacing: 1.5px;
    font-size: 23px;
}